.main {
  width: 80vw;
  height: 100vh;
  height: calc(var(--vh, 1vh) * 10);
  background-color: $blue;
  position: absolute;
  right: 0;
  z-index: 10;
  @media (max-width: 650px) {
    width: 100vw;
  }
  .inner-main {
    height: 50%;
    @media (max-width: 650px) {
      margin-top: 10vh;
    }
    .outside-text {
      font-family: $poppins;
      font-size: 1rem;
      font-weight: 600;
      color: #fff;
      display: flex;
      justify-content: space-between;
      padding: 40px 50px;
      padding-bottom: 0px;
      height: 20%;
      @media (max-width: 650px) {
        height: 10%;
        padding: 20px;
        font-size: 0.75rem;
      }
      .clear-button {
        cursor: pointer;
        transition: transform 0.3s ease-in-out;
        &:hover {
          transform: scale(1.1);
        }
      }
    }
    .container {
      height: 80%;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      @media (max-width: 500px) {
        height: 90%;
      }
      .balance-block {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        font-family: $poppins;
        color: #fff;
        padding-top: 10px;
        .balance-text {
          font-size: calc(1rem + 0.5vw);
          font-weight: 500;
          @media (max-width: 650px) {
            font-size: calc(1rem + 1vw);
          }
        }
        .balance-value {
          font-size: calc(1rem + 3vw);
          font-weight: 800;
          @media (max-width: 450px) {
            font-size: calc(1rem + 4vw);
          }
        }
        .status {
          font-size: calc(1rem + 0.5vw);
          font-weight: 500;
          @media (max-width: 650px) {
            font-size: calc(0.5rem + 1vw);
          }
        }
      }
      .input-section {
        display: flex;
        justify-content: center;
        form {
          display: flex;
          flex-direction: column;
          justify-content: center;
          .input-container {
            display: flex;
            justify-content: center;
            align-items: center;
            @media (max-width: 900px) {
              flex-direction: column;
            }
            @media (max-width: 650px) {
              padding-top: 20px;
            }
            .row {
              display: flex;
              justify-content: center;
              align-items: center;
              input {
                border: none;
                border-bottom: 2px solid #fff;
                font-family: $poppins;
                font-weight: 400;
                font-size: 0.9rem;
                padding: 5px;
                margin: 0 10px;
                color: #fff;
                outline: none;
                cursor: pointer;
                background-color: transparent;
                width: 160px;
                &::placeholder {
                  color: #fff;
                }
                &::-webkit-outer-spin-button,
                &::-webkit-inner-spin-button {
                  -webkit-appearance: none;
                  margin: 0;
                }
                &[type="number"] {
                  -moz-appearance: textfield;
                }
                @media (max-width: 900px) {
                  margin-bottom: 20px;
                }
                @media (max-width: 650px) {
                  font-size: 0.75rem;
                }
                @media (max-width: 450px) {
                  width: 130px;
                }
              }
              select {
                border: none;
                border-bottom: 2px solid #fff;
                font-family: $poppins;
                font-weight: 400;
                font-size: 0.9rem;
                padding: 5px;
                margin: 0 10px;
                color: #fff;
                outline: none;
                background-color: transparent;
                cursor: pointer;
                width: 160px;
                @media (max-width: 650px) {
                  font-size: 0.75rem;
                }
                @media (max-width: 450px) {
                  width: 130px;
                }
                option {
                  color: $black;
                }
              }
            }
          }
        }
        .btn-box {
          display: flex;
          justify-content: center;
          align-items: center;
          button {
            border: none;
            border-radius: 20px;
            font-family: $poppins;
            font-size: 1rem;
            font-weight: 600;
            padding: 10px;
            margin: 20px 0;
            color: #fff;
            outline: none;
            text-align: center;
            cursor: pointer;
            background-color: transparent;
            transition: transform 0.3s ease-in-out;
            &:hover {
              transform: scale(1.1);
            }
            @media (max-width: 900px) {
              margin: 10px 0;
            }
          }
        }
      }
    }
  }
}
