.sidebar {
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
  width: 20vw;
  -webkit-box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.16);
  -moz-box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.16);
  box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.16);
  position: fixed;
  left: 0;
  z-index: 99;
  background-color: #fff;
  @media (max-width: 650px) {
    width: 100vw;
    height: 10vh;
  }
  .sidebar-inner {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    font-family: $poppins;
    color: $black;
    flex: 2;
    @media (max-width: 650px) {
      flex-direction: row;
      align-items: center;
      padding: 0 10px;
    }
    .logo {
      font-size: calc(0.75rem + 0.75vw);
      font-weight: 700;
      margin: 40px 0;
      padding-left: 50px;
      @media (max-width: 900px) {
        padding-left: 20px;
      }
      @media (max-width: 650px) {
        padding-left: 10px;
      }
    }
    .navigation {
      margin: 40px 0;
      flex: 3;
      ul {
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        justify-content: center;
        flex-direction: column;
        @media (max-width: 650px) {
          flex-direction: row;
        }
        @media (max-width: 500px) {
          justify-content: flex-end;
        }
        a {
          text-decoration: none;
          color: $black;
          .navigation-item,
          .navigation-item-active {
            font-size: calc(0.75rem + 0.5vw);
            font-weight: 600;
            padding: 5px 0;
            padding-left: 50px;
            border-left: 5px solid transparent;
            @media (max-width: 900px) {
              padding-left: 20px;
            }
            @media (max-width: 650px) {
              border: none;
              font-size: calc(0.5rem + 0.5vw);
            }
            @media (max-width: 500px) {
              padding: 0 10px;
            }
            &-active {
              border-left-color: $black;
            }
          }
        }
      }
    }
    .colors {
      display: flex;
      justify-content: center;
      align-items: flex-end;
      flex-wrap: wrap;
      padding: 20px;
      align-items: center;
      @media (max-width: 650px) {
        padding: 0px;
        height: 7vh;
        width: 20vw;
      }
      @media (max-width: 500px) {
        display: none;
      }
      .color {
        height: 30px;
        width: 30px;
        border-radius: 50%;
        margin: 10px;
        cursor: pointer;
        transition: transform 0.2s ease-in-out;
        @media (max-width: 650px) {
          height: 15px;
          width: 15px;
          margin: 5px;
        }
        &:hover {
          transform: scale(1.1);
        }
        &.blue {
          background-color: $blue;
        }
        &.green {
          background-color: $green;
        }
        &.brown {
          background-color: $brown;
        }
        &.red {
          background-color: $light-red;
        }
        &.violet {
          background-color: $violet;
        }
        &.navy {
          background-color: $navy;
        }
      }
    }
  }
}
